@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Hammersmith+One|Ovo|");

body {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: .5fr 1fr 4fr 0.5fr 0.25fr;
  grid-template-areas:
    "header header header header"
    "bio bio bio me"
    ". projects projects ."
    "contact contact contact contact"
    "footer footer footer footer";
}

header {
  grid-area: header;
  text-align: center;
  background-color: #64b0ef;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Hammersmith One", sans-serif;
}

.bio {
  grid-area: bio;
  font-size: 1.25rem;
  margin: auto;
  margin-left: 10px;
  padding: 1.5rem;
  background-color: #ffdadf;
  outline: solid black 1px;
  font-family: "Ovo", serif;
}

.me {
  outline: solid black 1px;
  grid-area: me;
  margin: auto;
}

img {
  height: 283px;
  margin-right: 10px;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas: "title title";
  margin-bottom: 20px;
}

.projects-title {
  grid-area: title;
  text-align: center;
  line-height: 10rem;
  font-family: "Cinzel Decorative", cursive;
  background-color: #64b0ef;
  font-size: 2rem;
  color: white;
}

.project {
  display: grid;
  grid-template-rows: 1fr 3fr .5fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "project-title project-title"
    "desc desc"
    "code deploy";
}

.project-title {
  text-align: center;
  grid-area: project-title;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.25rem;
  background-color: #64b0ef;
  color: white;
  line-height: 3rem;
}

.project-desc {
  grid-area: desc;
  background-color: #ffdadf;
  font-size: 1.25rem;
}

.project-code {
  grid-area: code;
  background-color: #64b0ef;
}

.project-deployed {
  grid-area: deploy;
  background-color: #9bce34;
}

.contact {
  grid-area: contact;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cinzel Decorative", cursive;
  padding-bottom: 20px;
  background-color: #ffdadf;
}

.contact h3 {
  margin-top: 5px;
}
.contact
.fab,
.fas {
  margin: auto 3rem;
}

div.project a {
display: inline-block;
margin: 1rem 0 0 3rem;
text-decoration: none;
}

.label {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

ul {
  padding-left: 1rem;
  margin-top: .5rem;
  margin-left: 40%;
}

.project-desc p {
  font-weight:bold;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
}

.project-blurb {
  display: inline-block;
  font-family: "Ovo", serif;
  margin: .5rem .5rem;
  text-indent: 1.5rem;
}

footer {
  grid-area: footer;
  font-family: "Ovo", serif;
  font-size: 1.25rem;
  background-color: #64b0ef;
  color: white;
  text-align: center;
}
a {
  color: inherit;
}

.heart {
  color: red;
}

@media (max-width: 30em) {
  body {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .me {
    display: none;
  }
  .projects {
    margin-left: -3.5rem;
    grid-template-columns: auto;
    grid-template-areas: "title";
  }
  .bio {
    margin-top:15px;
  }
}
