/*
font-family: 'Work Sans', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Orienta', sans-serif;
font-family: 'Codystar', cursive;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Domine', serif;
font-family: 'Rokkitt', serif;
font-family: 'Ovo', serif;
font-family: 'Cinzel Decorative', cursive;
*/


body {
  background-color: #d2bcca52;
  display: grid;
  /* grid-gap: 0.3vw; */
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 4fr .5fr .25fr;
  grid-template-areas: "header header header header"
                       "bio bio bio me"
                       ". projects projects ."
                       "contact contact contact contact"
                       "footer footer footer footer"
}

header {
  grid-area: header;
  text-align: center;
  background-color: #4B5987;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
}

.bio {
  grid-area: bio;
  font-size: 1.25rem;
  margin: auto;
  margin-left: 10px;
  padding: 1.5rem;
  background-color: #E1D2D6;
  font-family: 'Ovo', serif;
}

.me {
  grid-area: me;
  margin:auto;
  background-color: #874B59
}
img {
  height: 283px;
  margin-right: 10px;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: .75fr 1fr 1fr;
  grid-template-areas: "title title";
  margin-bottom: 20px;
}

.projects-title {
  grid-area:title;
  text-align: center;
  line-height: 10rem;
  font-family: 'Cinzel Decorative', cursive;
  background-color: #4B5987;
  font-size: 2rem;
  color: white;
}

section.projects div {
  background-color: silver;
}

.contact {
  grid-area: contact;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Cinzel Decorative', cursive;
  padding-bottom: 20px;
  background-color: #E1D2D6;
}

.contact h3 {
  margin-top: 5px;
}
.fab, .fas {
  margin: auto 2rem;
}
footer {
  grid-area: footer;
  font-family: 'Ovo', serif;
  font-size: 1.25rem;
  background-color: #4B5987;
  color: white;
  text-align: center;
}
a {
   color: inherit;
 }

.heart {
  color:red;
}
